.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.explore-menu h1{
    margin-left: 33px;
    font-size: 30px;
    font-weight: 500;
    color: #d4d4d8;
    letter-spacing: 0.025em;
}
.explore-menu-text{
    margin-left: 33px;
    max-width: 80%;
    color: #d4d4d8;
    letter-spacing: 0.06em;
    line-height: 22px;
}
.explore-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    text-align: center;
    margin: 20px 33px;
    overflow-x: scroll;
    letter-spacing: 0.025em;
    color: #d4d4d8;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-item img{
    width: 6.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    margin-bottom: 10px;
}
.explore-menu-list p{
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    width: 5.8rem;
    letter-spacing: 0.035em;
}
.explore-menu hr{
    margin: 0px 20px 15px 20px;
    border: none;
    background-color: #332D2D;
    height: 2px;
}
.explore-menu-item .active{
    border: 2px solid tomato;
    padding: 3px;
}
.explore-menu-item img{
    height: 80px;
    width: 82px
}