.order-details-container {
    max-width: 700px;
    margin: 30px 12rem;
    padding: 20px;
    border-radius: 12px;
    background-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.order-details-container h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #d4d4d8;
    font-size: 2rem;
    letter-spacing: 0.09rem;
}

.order-details-container p {
    margin: 8px 0;
    color: #d4d4d8;
    letter-spacing: 0.07rem;
}

.order-details-container h3 {
    margin-top: 20px;
    color: #d4d4d8;
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
}

.order-details-container ul {
    margin-top: 8px;
    padding-left: 20px;
}

.order-details-container li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.back-btn {
  display: block;
  margin: 1.5rem auto 16px;
  letter-spacing: 0.05em;
  font-weight: 500;
  background-color: tomato;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #e42200;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #d4d4d8;
}