.order-success-container {
  max-width: 800px;
  margin: 2rem auto;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #d4d4d8;
}

.order-success-container h2 {
  letter-spacing: 0.18em;
  margin-bottom: 0.9rem;
}

.order-success-container h3 {
  letter-spacing: 0.15em;
  margin-bottom: 0.9rem;
  color: #00eece;
}

.order-p {
  letter-spacing: 0.18em;
  margin-bottom: 0.9rem;
}

.order-success-container p {
  letter-spacing: 0.10em;
  margin-bottom: 0.5rem;
}

.success-icon {
  font-size: 4rem;
  color: #4CAF50;
  margin-bottom: 1rem;
}

.order-details,
.delivery-details,
.order-items {
  margin: 2rem 0;
  padding: 1rem;
  background: #131313;
  border-radius: 5px;
  text-align: left;
}

.order-items ul {
  list-style: none;
  padding: 0;
}

.order-items li {
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
}

.bt-s {
  background: #3399cc;
  color: rgb(22, 22, 22);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.025em;
  font-weight: 500;
}

.bt:hover {
  background: #2a7aaf;
}