.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    margin: 5rem 22rem 5rem 25rem;
    background-color: #1b1b1b;
    border-radius: 5px;
    color: #d4d4d8;
}
.profile-container h2 {
    margin-bottom: 0.5rem;
    letter-spacing: 0.18em;
}
.profile-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0rem 0rem 0rem;
}
.profile-container p {
    letter-spacing: 0.1em;
}