.header {
    background: url("/header_img.jpg") no-repeat;
    background-size: cover;
    height: 34vw;
    margin: 20px 35px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw, 22px);
}
.header-contents p{
    font-size: 1.1vw;
    letter-spacing: 0.06em;
    width: 42rem;
    line-height: 21px;
}
.header-contents button{
    border: 2px solid rgb(34, 34, 34);
    box-shadow: 0px 0px 10px -2.5px rgb(0, 0, 0);
    color: white;
    font-weight: 700;
    padding: 1vw 2.3vw;
    background-color: #1f1f1f;
    font-size: max(1vw, 13px);
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.10em;
}