.footer {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 30px 8vw 15px 8vw;
    margin-top: 80px;
}
.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    color: #d4d4d8;
    letter-spacing: 0.08em;
}
.footer-content-left , .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-content-left .logo {
    width: 230px;
}
.footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.footer-content-right h2, .footer-content-center h2 {
    display: flex;
    justify-content: center;
    letter-spacing: 0.06em;
}
.footer-social-icons img {
    width: 35px;
    margin-right: 15px;
    cursor: pointer;
}
.footer hr {
    width: 100%;
    height: 1px;
    background-color: rgb(44, 44, 44);
    border: none;
}