.order-failed-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #d4d4d8;
}

.failed-icon {
  font-size: 4rem;
  color: #ff0000;
  margin-bottom: 1rem;
}

.order-failed-container h2 {
  margin-bottom: 0.9rem;
  letter-spacing: 0.18em;
}

.order-failed-container p {
  margin-bottom: 0.9rem;
  letter-spacing: 0.18em;
}

.error-message {
  color: #f44336;
  font-weight: bold;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.bt {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.bt:first-child {
  background: #3399cc;
  color: rgb(20, 20, 20);
  font-weight: 500;
}

.bt:last-child {
  background: transparent;
  color: #d4d4d8;
  font-weight: 500;
  border: 1px solid #d4d4d8;
}

.bt:hover {
  opacity: 0.9;
}