.food-item {
    width: 100%;
    height: 350px;
    margin: auto;
    border-radius: 15px;
    background-color: #332D2D;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.food-item-img {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.food-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    padding: 13px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d4d4d8;
}

.food-item-title {
    font-size: 16px;
    font-weight: 400;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #c0c0c0;
    font-size: 12px;
    letter-spacing: 0.025em;
    min-height: 40px;
}

.food-item-price {
    color: #d4d4d8;
    font-size: 18px;
    font-weight: 500;
    margin: 2px 0px 0px 0px;
}

.food-item-img .add {
    width: 27px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px;
    border-radius: 50px;
    background-color: #332D2D;
    animation: fadeIn 0.5s;
}

.food-item-counter p {
    font-size: 14px;
    color: #fff;
}

.food-item-counter img {
    width: 23px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}
