.admin-order-details-container {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
  color: #d4d4d8;
  font-size: 0.9rem;
}

.page-title {
  text-align: center;
  color: #d4d4d8;
  margin-bottom: 20px;
  letter-spacing: 0.09em;
}

.back-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #d4d4d8;
}

.order-details-card {
  padding: 16px;
  border-radius: 10px;
  background: #202020;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.order-info {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}

.info-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 10px;
}

.info-section-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    letter-spacing: 0.09em;
}

.info-section p {
    margin-bottom: 1rem;
    letter-spacing: 0.09em;
}

.address-section {
  margin-bottom: 20px;
  margin-top: -1rem;
  letter-spacing: 0.09em;
}

.address-section h3 {
  margin-bottom: 8px;
  color: #d4d4d8;
  letter-spacing: 0.09em;
}

.items-section h3 {
  margin-bottom: 10px;
  color: #d4d4d8;
  letter-spacing: 0.09em;
}

.items-section p {
    letter-spacing: 0.08em;
}

.items-list {
  list-style: none;
  padding: 0;
}

.item {
  border-bottom: 1px solid #3a3a3a;
  padding: 8px 0;
}

.item-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loading,
.not-found {
  text-align: center;
  color: #d4d4d8;
  margin-top: 40px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}