.list-table-format {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 0.5fr 0.3fr;
  align-items: center;
  gap: 10px;
  padding: 7px 15px;
  font-size: 15px;
}

.list-table-format p {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #d4d4d8;
}

.list-table-format.title {
  background-color: rgba(252, 115, 90, 0.404);
}

.list-table-format b {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.08em;
}

.list-table-format img {
  width: 40px;
  height: 40px;
}

.cursor {
  cursor: pointer;
  font-size: small;
  transition: 0.3s ease;
}

.cursor:hover {
  transform: scale(1.2);
}

.list-table {
  margin-bottom: 30px;
}

.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: gray;
  margin-top: 20px;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.category-dropdown {
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #202020;
  font-size: 13px;
  background-color: #1d1d1d;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100px;
  letter-spacing: 0.07em;
  appearance: none;
}

.list>p {
  font-size: 22px;
  font-weight: 600;
  color: rgb(148, 148, 148);
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.06em;
}

.edit-icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-icon:hover {
  transform: scale(1.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal label {
  font-size: small;
}

.modal input,
.modal textarea,
.modal select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #2a2a2a;
  color: white;
  outline: none;
  appearance: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.modal-buttons .cancel {
  background: #444;
  color: #d4d4d8;
  font-weight: 500;
}

.modal-buttons button:not(.cancel) {
  background: tomato;
  color: #1b1b1b;
  font-weight: 500;
}